{{> background}}
{{> navigation}}
{{> mobilemenu}}

<div class="cartridge-details-container">
  <div class="cartridge-details-grid">
    <div class="cartridge-image">
      <img src="{{image}}" alt="{{title}} Cover">
    </div>
    <div class="cartridge-info">
      <h1>{{title}}</h1>
      <p class="cartridge-description">{{description}}</p>
      <ul class="cartridge-details">
        <li><strong>Release Date:</strong> {{releaseDate}}</li>
        <li><strong>Developer:</strong> {{developer}}</li>
        <li><strong>Genre:</strong> {{genre}}</li>
      </ul>
    </div>
  </div>
</div>

{{> footer}}